<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ceiec.twmp.tmp.mapper.TwmpDevLifecycleMapper" >
  <resultMap id="BaseResultMap" type="com.ceiec.twmp.tmp.entity.TwmpDevLifecycle" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="lifecycle_id" property="lifecycleId" jdbcType="BIGINT" />
    <result column="device_id" property="deviceId" jdbcType="BIGINT" />
    <result column="lifecycle_event_type" property="lifecycleEventType" jdbcType="TINYINT" />
    <result column="event" property="event" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="creator_id" property="creatorId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>