<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceiec.twmp.tmp.mapper.TwmpSysUserMapper">
    <resultMap id="BaseResultMap" type="com.ceiec.twmp.tmp.entity.TwmpSysUser">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="photo_id" jdbcType="VARCHAR" property="photoId"/>
        <result column="role_id" jdbcType="BIGINT" property="roleId"/>
        <result column="department_id" jdbcType="BIGINT" property="departmentId"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="fax" jdbcType="VARCHAR" property="fax"/>
        <result column="comment" jdbcType="VARCHAR" property="comment"/>
        <result column="topic" jdbcType="TINYINT" property="topic"/>
        <result column="language" jdbcType="TINYINT" property="language"/>
        <result column="map_center" jdbcType="VARCHAR" property="mapCenter"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="creator_id" jdbcType="BIGINT" property="creatorId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="deleted" jdbcType="TINYINT" property="deleted"/>
    </resultMap>

    <resultMap id="RedisUserResultMap" type="com.ceiec.twmp.tmp.entity.SystemUserEntity">
        <id column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="photo_id" jdbcType="VARCHAR" property="photoId"/>
        <result column="role_id" jdbcType="BIGINT" property="roleId"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="department_id" jdbcType="BIGINT" property="departmentId"/>
        <result column="department_name" jdbcType="VARCHAR" property="departmentName"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="fax" jdbcType="VARCHAR" property="fax"/>
        <result column="comment" jdbcType="VARCHAR" property="comment"/>
        <result column="topic" jdbcType="TINYINT" property="topic"/>
        <result column="language" jdbcType="TINYINT" property="language"/>
        <result column="map_center" jdbcType="VARCHAR" property="mapCenter"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="creator_id" jdbcType="BIGINT" property="creatorId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="deleted" jdbcType="TINYINT" property="deleted"/>
        <result column="login_status" jdbcType="TINYINT" property="loginStatus"/>
    </resultMap>

    <resultMap id="UserListResultMap" type="com.ceiec.twmp.tmp.vo.user.result.UserListResultVO">
        <id column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="role_id" jdbcType="BIGINT" property="roleId"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="map_center" jdbcType="VARCHAR" property="mapCenter"/>
        <result column="photo_id" jdbcType="BIGINT" property="photoId"/>
    </resultMap>

    <select id="getRedisUserLoginInfo" parameterType="java.lang.Long" resultMap="RedisUserResultMap">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Wed Jan 03 16:27:38 CST 2018.
        -->
        select a.user_id user_id, a.user_name user_name, a.password password, a.photo_id photo_id, a.role_id role_id,
        b.role_name role_name, a.department_id department_id, c.department_name department_name,
        a.email email, a.phone phone, a.fax fax, a.comment comment, a.topic topic, a.language language, a.map_center
        map_center, a.creator creator, a.creator_id creator_id, a.create_time create_time, a.deleted deleted
        from twmp_sys_user a
        Left Join twmp_sys_role b on a.role_id=b.role_id
        Left Join twmp_sys_department c on a.department_id=c.department_id
        where a.user_id = #{userID,jdbcType=BIGINT}
    </select>

    <select id="getUserList" parameterType="com.ceiec.twmp.tmp.vo.user.query.UserListQueryVO"
            resultMap="UserListResultMap">
        select a.user_id user_id, a.user_name user_name, a.role_id role_id, b.role_name role_name,
        a.email email, a.phone phone,a.create_time create_time,fax,map_center,photo_id
        from twmp_sys_user a
        Left Join twmp_sys_role b on a.role_id=b.role_id
        where a.deleted = 1
        and a.department_id in
        <foreach collection="departmentIdList" item="id" index="index" separator="," open="(" close=")">
            #{id}
        </foreach>
        <if test="userName != null and userName != ''">
            and a.user_name LIKE concat('%',#{userName},'%')
        </if>
        <if test="roleId != null and roleId != ''">
            and a.role_id = #{roleId}
        </if>
        <if test="loginStatus != null and loginStatus != ''">
            and a.login_status = #{loginStatus}
        </if>
    </select>

    <select id="getUserCountByUserName" parameterType="string" resultType="int">
    select count(user_id) from twmp_sys_user a where a.user_name = #{userName}
  </select>

    <select id="userCountByDepartmentId" parameterType="long" resultType="int">
        select count(user_id) from twmp_sys_user a where a.department_id in
        <foreach collection="list" item="department_id" index="index" open="(" close=")" separator=",">
            #{department_id}
        </foreach>
    </select>

</mapper>
