<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceiec.twmp.tmp.mapper.TwmpSysRoleMapper">
  <resultMap id="BaseResultMap" type="com.ceiec.twmp.tmp.entity.TwmpSysRole">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updater" jdbcType="VARCHAR" property="updater" />
    <result column="updater_id" jdbcType="BIGINT" property="updaterId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="TINYINT" property="deleted" />
    <result column="accept_message_sub_type" jdbcType="VARCHAR" property="acceptMessageSubType" />
  </resultMap>

  <select id="queryRoleByPage" parameterType="java.lang.String" resultMap="BaseResultMap">
      SELECT *  FROM twmp_sys_role r WHERE deleted != 0
      <if test="_parameter != null and _parameter != ''">
          and r.role_name LIKE concat('%',#{roleName},'%')
      </if>
  </select>

    <select id="getRoleCountByRoleName" parameterType="string" resultType="int">
    select count(role_id) from twmp_sys_role a where a.role_name = #{roleName}
  </select>


</mapper>