.analysis-page
  position absolute
  width calc(100% - 30px)
  height calc(100% - 30px)
  background #211F3A
  border-radius 0 6px 6px 6px
  .el-tabs
    .el-tabs__item
      width 258px
  .search-bar
    height 60px
    display flex
    justify-content flex-start
    align-items center
    padding 0px 30px
    .ceiec-department,.el-date-editor,.el-select
      width 350px
      margin-right 15px
  .chart-block
    padding 30px