button.ceiec-primary
  padding 4px 10px
  border-radius 6px
  background-image linear-gradient(-180deg, #40C5AE 0%, #18AC7D 100%)
  border none
  color #ffffff
  height 32px
  svg
    fill #FFFFFF !important
  &.confirm
    width 118px
    height 40px
    border-radius 4px
    font-size 16px
    color #FFFFFF
    opacity 0.9
    margin-left 15px
button.ceiec-default,.ceiec-default:focus
  padding 4px 10px
  border-radius 6px
  background #383756
  border none
  color #666681
  svg
    fill #9A9AC6
  &.confirm
    width 118px
    height 40px
    border-radius 4px
    font-size 16px
    color #FFFFFF
    opacity 0.9
    margin-left 15px
.ceiec-primary:hover
  color #ffffff
  border-color #4DE1C7
  background-image linear-gradient(-180deg, #4DE1C7 0%, #1FCE97 100%)
  border none
.ceiec-primary:active
  background-image: linear-gradient(-180deg, #1FCE97 100%, #4DE1C7 0%)
.ceiec-query, .ceiec-query:focus
  width 40px
  height 40px
  padding 6px !important
  border none
  background #37365D
.ceiec-query:hover
  background #4A4976
.ceiec-default:hover
  color #FFFFFF
  border-color #4A4976
  background-color #4A4976
  svg
    fill #9A9AC6
// form
.el-form-item--small.el-form-item
  margin-bottom 0px
  .el-form-item__label
    line-height 16px
    margin 15px 0px 10px 0px
    font-size 14px
    color #666681
    letter-spacing 0
    position relative
  &>.el-form-item__content
    line-height 16px
    color #9A9AC6 !important
.el-form--label-top .el-form-item__label
  padding 0px
.el-message
  top 300px
.el-form-item.is-required:not(.is-no-asterisk) > .el-form-item__label:before
  content ''
  color #50e3c2
  width 4px
  height 4px
  background #50e3c2
  position absolute
  bottom 10px
  left -10px
.el-input.is-disabled,.el-textarea.is-disabled
  border-radius 4px
  .el-input__inner,.el-textarea__inner
    color #9A9AC6 !important
    background #2D2B46
// tooltip
.el-tooltip__popper
  padding 7px
.el-tooltip__popper.is-dark
  background rgba(69,61,110,0.76)
  border-radius 4px 0 0 0 4px 4px 4px
  font-size 14px
.el-tooltip__popper[x-placement^="top"] .popper__arrow
  border-top-color rgba(69,61,110,0.76)
// select
// .el-select
//   .el-input__inner
//     height 40px
.el-select-dropdown__item.selected
  font-weight normal
  background #302E4D
.el-popper[x-placement^="bottom"]
  margin-top 2px
.el-popper[x-placement^="bottom"] .popper__arrow
  display none

// table
.el-table
  background-color #201F3D
  tr
    background-color rgba(0, 0, 0, 0)
  .el-table__row
    background-image linear-gradient(135deg, #2A2949 0%, #252446 100%)
    &.hover-row
      color #ffffff
      background-image linear-gradient(135deg, #373560 0%, #2A294E 100%)
    &.el-table__row--striped
      background: rgba(0, 0, 0, 0)
      &.hover-row
        background-image linear-gradient(135deg, #373560 0%, #2A294E 100%)
  .cell
    padding-left 30px

.el-table--striped .el-table__body tr.el-table__row--striped td
  background rgba(0, 0, 0, 0)

// svg button
.svg-button
  // width 20px
  // height 20px
  cursor pointer
  display inline-block
  svg
   fill #666681
  &:hover
    svg
      fill #FFFFFF

.el-button
  svg
    outline none
    
// dialog
.v-modal
  top 67px
  left 281px
  background rgba(28,27,45,0.80)

.el-dialog__wrapper
  left 281px

// input
input::-webkit-input-placeholder
  font-size 14px
.el-input > .el-input__inner:focus,
.el-textarea > .el-textarea__inner:focus
  background #16142C
  border 1px solid #9A9AC6
  color #FFFFFF
.el-input.is-disabled > .el-input__inner
  color #3D3D64
.el-input--small
  font-size 14px
// tree
.el-tree-node__expand-icon
  font-size 16px


//pagination
.el-pagination
  .btn-next
  .btn-prev
    color #9A9AC6
    background transparent
    &:disabled
      color #3D3D64
      background transparent
  .el-pager 
    display inline-flex
    margin-top 4px
    li
      color #666681
      background transparent
      border-radius: 2px;
      width 21px
      height 21px
      min-width 0
      padding 0
      display flex
      align-items center
      justify-content center
      margin-left 10px
      &:first-child
        margin-left 0
      &:hover
        background #272649
    li.active  
      background #272649
.btn-next
  margin-right 20px
.el-pagination__total
  padding-left 20px
  border-left 1px solid #414060
  margin-left 18px

// tabs
.el-tabs--card 
  & > .el-tabs__header
    border none
    margin 0px
    .el-tabs__nav-wrap
      background-color #14142c
    .el-tabs__nav,
    .el-tabs__item
      border none
      height 54px
      line-height 54px
      background #1B1936
      text-align center
      font-size 14px
      color #9A9AC6
      &:first-child
        border-radius 6px 0 0 0
      &:last-child
        border-radius 0 6px 0 0
      &.is-active
        background #201F3D
        color #FFFFFF
  .el-tab-pane
    background #201F3D
// Slider
.el-slider
  .el-slider__runway
    height 4px
    background-color #313B5D
    border-radius unset
    .el-slider__bar
      height 4px
      border-radius unset
      background-image linear-gradient(90deg, #20B392 0%, #50E3C2 100%)
    .el-slider__button-wrapper
      .el-slider__button
        width 12px
        height 18px
        border solid 1px #18A075
        background-color #1A443C
        border-radius 2px
      &::after
        content "|"
        color #4DE0BF
        position relative
        left -8.5px
        top 10px
        font-size 4px
        font-weight bold
    .el-slider__stop
      width 1px
      height 14px
      top -5px
      background-color #313B5D

// datepicker
.el-range-editor
  .el-range-input
    background none
    color #9A9AC6
  .el-range-separator
    font-size 14px
    color #9A9AC6

// no-data-tip
.no-data-tip
  padding 100px 30px
  // height 433px
  text-align center
  font-size 14px
  color #9A9AC6

//radio
.el-radio-button__inner
  width 126px
  background: #191730
  border none !important
  color #9A9AC6
  &:hover
    color #FFFFFF

// checkbox
.el-checkbox__inner::after
  height 10px
  left 5px
  width 5px
